<br />
@{
    ViewData["Title"] = "Put To Light";
}
<h2 style="margin-bottom:2%">
    @ViewData["Title"] <span class="pull-right">
        <button type="button" onclick="showQty()" class="btn btn-secondary">Show quantitys</button>
    </span>
</h2>


<div class="card">

    <link rel="stylesheet" href="~/css/puttolight.css">
    <div>
        <h1>Read the part number:</h1>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="partNum" placeholder="Part number">
    </div>

    <div>
        <h1>Quantity:</h1>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="qty" placeholder="Quantity">
    </div>

    <div>
        <button type="button" onclick="fillPartTap()" class="btn btn-secondary">Save</button>
        <span id="snlabel"></span>
    </div>

</div>

<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="resonseTableContainer"></div>
    </div>

</div>

<script src="~/js/put_to_light.js"></script>
